@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
    /** Fonts */
    --title: 'EB Garamond', serif;
    --main-font: 'Roboto', serif;

    /* Colours */
    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title);
    color: var(--black);
}

main {
    flex: 1 0 auto;
    background-color: var(--off-white);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

/* Header */
.snavbar {
    background-color: var(--white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

.logo {
    width: 10.75rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}

/* Header */

#mobile-box {
    width: 360px;
}

.card {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.card .view {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.card h5 a {
    color: #0d47a1;
}

.card h5 a:hover {
    color: #072f6b;
}

.img-size {
    width: 100%;
}

#pButton {
    float: left;
}

#timeline {
    width: 90%;
    height: 2px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
}

#pButton {
    margin-top: 12px;
    cursor: pointer;
}

#playhead {
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: -3px;
    background: black;
    cursor: pointer;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-container {
    display: flex;
    flex-direction: column;
}

.ingredients, .instructions, .song-detail {
    width: 100%;
}

.song-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-pic {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
        }
    .song-container {
        flex-direction: row;
    }

    .song-info {
        flex-direction: row;
        border: 1px solid var(--black);
        }

    .song-img {
        width: 40%;
        margin: 0 auto;
    }

    .song-detail {
        width: 60%;
        padding: 2rem;
    }
}