{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon-16x16.png' %}" >
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon-32x32.png' %}" >
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/apple-touch-icon.png' %}" >
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/android-chrome-512x512.png' %}" >
        <link rel="shortcut icon" type="image/png" href="{% static 'icons/android-chrome-192x192.png' %}" >
        {% endblock %}
        

    
   
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {% block onload_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
        integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
    <title>{% block title %}Music Maker{% endblock %}</title>
</head>

<body>
    {% include 'includes/header.html' %}

    <main>

        {% block content %}

        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% block extra_js %}

    {% endblock %}
</body>

</html>
