{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block content %}
<div class="container my-4 mb-5">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img class="card-img-top" src="https://cdn.xsd.cz/resize/38bb1bb0e90b3d849bf21492f7c7d1ef_resize=1961,1305_.jpg?hash=c7671eaeb065cfe9244afdf39390885a" alt="Card image cap">
          </div>
          <div class="card-body text-center">
            <h5 class="h5 font-weight-bold"></h5>
            <h6 class="font-weight-bold">Upload your songs and let other people hear them</h6>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top" src="https://wallpaperaccess.com/full/5220993.jpg" alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <h5 class="h5 font-weight-bold"></h5>
              <h6 class="font-weight-bold">Listen to other people's songs and have a nice time</h6>
              <p></p>
            </div>
          </div>

    </div>
  </div>
  

    {% endblock %}