{% extends "base.html" %}
{% load static %}
{% block title%}Home{% endblock %}

{% block content %}
<div class="container my-4 mb-5">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img class="card-img-top home-img" src="{% static 'images/thebestsong.jpg' %}" alt="Card image cap">
          </div>
          <div class="card-body text-center">
            <h5 class="h5 font-weight-bold"></h5>
            <h4 class="font-weight-bold">Upload your songs and let other people hear them</h4>
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img class="card-img-top home-img" src="{% static 'images/loveourmusic.png' %}" alt="Card image cap">
            </div>
            <div class="card-body text-center">
              <h5 class="h5 font-weight-bold"></h5>
              <h4 class="font-weight-bold">Listen to other people's songs and have a nice time</h4>
              <p></p>
            </div>
          </div>

    </div>
  </div>
  {% endblock %}