{% extends "base.html" %} 

{% block title %}Songs{% endblock %}

{% block content %} 
<h1 class="text-center p-2 d-block">
    Latest Songs
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
{% for music in music_list %} 
  <a href="{% url 'song_detail' music.pk %}" class="songs" aria-label="Click to view {{music.title}}">


        <div class="card m-3" style="width: 18rem;">
            <img src="{{music.image.url}}" class="card-img-top" alt="#">
            <div class="card-body">
    </a>            
            <h4 class="card-title font-weight-bold">{{music.artist}}</h4>
            <h5 class="card-title"><em>{{music.title}}</em></h5>
              
            <!-- <p class="card-text">{{music.background|truncatechars:100}}</p> -->
            </div>
        </div>
    
    {% endfor %}
</div>
{% endblock %}
